img {
  display: inline-block;
}

.half-grid {
  display: inline-block;
  width: 40%;
  float: left;
}

.reveal blockquote {
  width: 100%;
}

div.sourceCode {
  display: inline-block;
  float: left;
  margin-left: -20%;
  width: 80%;
}

div.sourceCode + p {
  display: inline-block;
  float: left;
  width: 60%;
  margin-right: -50%;
}